@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
     height: 100%;
     width: 100%;
     /* height: 100vh;
     width: 100vw; */
     font-family: 'Montserrat', sans-serif;
     color: var(--primary-text-color);

}
:root{
    --primary-text-color:#ffff;
    --secondary-text-color:#000000;
    --primary-bg-color:#95c11e;
    --mixin-color:#a9a9a9;
}

.flex{
    display: flex;
    justify-content:center;
    align-items: center;
}
header{
    height: 160px;
    position: fixed;
    width: 100%;
    padding: 20px 10px;
    /* border: 2px solid black; */
    gap: 40px;
    justify-content:space-evenly !important;
    /* background-color: var(--secondary-text-color); */
    z-index: 99;
}
#logo{
    width: 80px;
}
.links li{
    list-style: none;
    padding: 8px 14px;
}
.links li a{
    color: var(--primary-text-color);
    text-decoration: none;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -3;
}
#cursor{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
    position: fixed;
    /* box-shadow:6px -5px 207px 114px var(--primary-bg-color); */
    z-index:9;
    transition: all linear 0.1s;
}
#cursor-blur {
    height: 500px;
    width: 500px;
    background-color: rgba(150, 193, 30, 0.3);
    border-radius: 50%;
    position: fixed;
    filter: blur(80px);
    z-index:3;
    transition: all linear 0.4s;
  }
#main{
    position: relative;
    background-color: rgb(0, 0, 0,0.37);
}
#page1{
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 12px;
    z-index: 10;
}
#page1 h1{
  font-size: 6rem;
  font-weight: 900;
  position: relative;
}
#page1 h1::before{
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: var(--secondary-text-color);
  -webkit-text-stroke:2px #95c11e;
  top: -6px;
  left: -6px;
  font-size: 6rem;
  font-weight: 900;
  z-index: -1;
}
#page1 h2{
  font-size: 1.89rem;
  font-weight: 700;
}
#page1 p{
  font-size: 0.90rem;
  font-weight: 200;
  text-align: center;
  width: 40%;
}
#arrow{
    position: absolute;
    left: 0.3%;
    bottom: 0.4%;
    font-size: 6rem;
    font-weight:100;
    color: var(--primary-text-color);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--primary-bg-color);
    transition: all ease 0.5s;
}
#arrow:hover{
    scale: 0.4;
    background-color: var(--primary-bg-color);
}
#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
.scroller{
    /* background-color: red; */
    position: relative;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y: hidden;
    z-index: 10;
}
.scroller::-webkit-scrollbar{
    display: none;
}
.innerscoller{
  animation: slidingtext 35s linear infinite normal;
}
.innerscoller h1{
    font-size: 7rem;
    font-weight:900;
    display: inline-block;
    white-space: nowrap;
    font-family: sans-serif;
    color: black;
    transition: all linear 0.3s;
    -webkit-text-stroke: 2px #fff;
}
.innerscoller h1:hover{
    color:var(--primary-bg-color);
    -webkit-text-stroke: 2px var(--primary-text-color);
}
@keyframes slidingtext{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about{
  width: 100%;
  height: 40vh;
  padding: 0 50px;
  position: relative;
  z-index: 10;
  justify-content: space-evenly !important;
}
#about img{
    width:20%;
    height: 30vh;
    object-fit: cover;
    border-radius: 15px;
}
.aboutus{
    text-align: center;
    width: 40%;
}
.aboutus h3{
    font-size:3.5rem;
}
.aboutus p{
    font-size:1.18rem;
    text-align: center;
}
.cards{
   z-index: 10;
   position: relative;
   width: 100%;
   height: 60vh;
   justify-content: space-evenly;
   gap: 50px;
   padding: 60px 60px;
}
.card{
    /* padding: 20px 20px; */
    flex-direction: column !important;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    width: 30%;
    height: 100%;
    transition: all ease 0.6s;
}
#card1{
    background-image: url('./assets//card1.avif');
}
#card2{
    background-image: url('./assets//card2.webp');
}
#card3{
    background-image: url('./assets//card3.avif');
}
.overley{
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    flex-direction: column;
    background-color:var(--primary-bg-color);
    color: var(--secondary-text-color);
    transition: all ease 0.6s;
}
.overley h4{
    font-size: 2rem;
}
.overley p{
    font-size: 1rem;
    padding: 4px 10px;
    text-align: center;
}
.card:hover .overley{
  opacity: 1;
}
.card:hover{
   transition: all ease 0.6s;
   transform:scale(1,1.1);
}
#green-div{
    width: 100%;
    height: 30vh;
    position: relative;
    z-index: 10;
    background:linear-gradient(to left bottom,#79ea22,var(--primary-bg-color));
    justify-content: space-around !important;
  }
  #green-div img{
      height:100%;
      width:10%;
      object-fit:cover;
  }
  .green-content-div{
      text-align: center;
      width: 50%;
  }
  .green-content-div h3{
      color: var(--secondary-text-color);
      font-size:1.5rem;
  }
 #page3{
    width: 100%;
    height: 100vh;
 }
 .qutesbox{
    position: relative;
    padding: 40px 20px;
    width: 100%;
    height: 100%;
 }
 .qutesbox img{
    width: 6.4%;
 }
 #quote1{
    position: absolute;
    top: 20%;
    left: 14%;
 }
 #quote2{
    position: absolute;
    bottom: 27%;
    right: 17%;
 }
 .qutesbox > p{
    font-size: 1.9rem;
    font-weight: 900;
    line-height:45px;
    width: 60%;
 }
 #page4{
    width: 100%;
    height: 40vh;
    gap:20px;
    position: relative;
 }
 #page4 h1{
    display: inline-block;
    /* font-family: gilroy; */
    position: absolute;
    top: -15%;
    text-align: center;
    width: 100%;
    font-size: 4.5rem;
    font-weight: 700; 
    color: var(--secondary-text-color);
    -webkit-text-stroke: 2px var(--primary-text-color);
 }
 .elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
 }
 .elem h2{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: var(--primary-bg-color);
   color: var(--secondary-text-color);
   font-size: x-large;
   font-weight: bold;
   position: absolute;
   transition: all ease 0.5s;
   z-index: 10;
 }
 .elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.1;
 }
 .elem:hover h2{
    background-color: transparent;
    color: var(--primary-text-color);
}
.elem:hover img{
     scale: 1;
 }
 
#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
  